<div class="global">
  <div class="institution">
    <div class="title w3-container w3-center w3-animate-top">
      <h2>Institutions</h2>
    </div>
    <div class="institutions">
    <div class="box w3-container w3-center w3-animate-bottom">
      <div class="card">
        <i class="etec"></i>
        <img
          src="../../../assets/etec-2021.png"
          class="inst-icon"
          alt="inst-icon"
        />
        <h5>ETEC JARAGUÁ</h5>
        <div class="description">
          <p>
            Completed in December 2020. Graduated as an Electrical Technician.
          </p>
          <p style="text-align: center">
            <a
              class="btn btn-outline-primary"
              class="buttonknowledge"
              [ngClass]="{ 'btn-hover': isHovered }"
              (mouseover)="isHovered = true"
              (mouseout)="isHovered = false"
              class="button"
              target="_blank"
              href="https://www.etecjaragua.com/"
            >
              Site
            </a>
          </p>
        </div>
      </div>
    </div>
    <div class="box w3-center w3-animate-bottom">
      <div class="card">
        <i class="etec"></i>
        <img
          src="../../../assets/fmu-logo.jpg"
          class="inst-icon"
          alt="inst-icon"
        />
        <h5>Centro Universitário das Faculdades Metropolitanas Unidas(FMU)</h5>
        <div class="description">
          <p>
            I'm in the first semester, I will graduate in June 2025.
          </p>
          <p style="text-align: center">
            <a
              class="btn btn-outline-primary"
              class="buttonknowledge"
              [ngClass]="{ 'btn-hover': isHovered }"
              (mouseover)="isHovered = true"
              (mouseout)="isHovered = false"
              class="button"
              target="_blank"
              href="https://portal.fmu.br"
            >
              Site
            </a>
          </p>
        </div>
      </div>
    </div>
</div>
  </div>
</div>
