.global {
  width: 100%;
  align-items: center;
}
.institution {
  animation: fade-inout 2s;
}
.institutions {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.service {
  padding: 100px 0px;
}

.title h2 {
  color: white;
  font-size: 75px;
  margin: 0 auto 30px auto;
  text-align: center;
}

.description p {
  color: #fcf;
  font-size: 17px;
  line-height: 27px;
}

.inst-icon {
  border-radius: 20px;
  margin-bottom: 10px;
}

.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  margin-top: 0;
  color: #a219f1;
}

.card h5 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 5px;
}
.card {
  height: 525px;
  width: 450px;
  padding: 20px 35px;
  background: #1f1f1f;
  border-radius: 20px;
  margin: 15px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 50px;
  box-shadow: 6px 7px rgba(0, 0, 0, 0.25);
}
.box {
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

.card .button {
  color: white;
  text-decoration: none;
  border: 0px solid transparent;
  font-weight: bold;
  padding: 9px 30px;
  border-radius: 10px;
  transition: 0.4s;
}

.button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #a219f1, #e278e2);
  font-size: 20px;
  font-family: "Lato";
  text-transform: uppercase;
  letter-spacing: 2px;
  outline: none;
  width: 250px;
  height: 70px;
  left: 100px;
  bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 6px 7px rgba(0, 0, 0, 0.25);
}

.button:hover {
  transform: scale(1.04);
}
@keyframes fade-inout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 991px) {
  .card {
    width: 350px;
    height: 500px;
  }
  .button {
    left: 50px;
}
@media screen and (max-width: 791px) {}

  .card {
    width: 350px;
    height: 500px;
  }
  .button {
    left: 50px;
  }
  .institutions {
    flex-direction: column;
  }
  .w3-container {
    padding: 0px;
  }
  .global {
    display: grid;
    background-color: #191919;
  }
}