<div class="global">
  <div class="curriculuns">
    <div class="curriculum container w3-animate-top">
      <div class="pdf">
        <img
          class="pdfcurriculumen"
          src="/assets/img/pdf-curriculo-BR.png"
          alt="pdf"
        />
        <div class="downloadbutton container w3-animate-bottom">
          <a
            class="btn btn-outline-primary"
            class="pdfdownload-br"
            href="/assets/pdf/Curriculo-BR.pdf"
            download="Curriculum-LuisNunes-BR.pdf"
          >
            Download PT-BR
          </a>
        </div>
      </div>
      <div class="pdf">
        <img
          class="pdfcurriculumen"
          src="/assets/img/pdf-curriculo-EN.png"
          alt="pdf"
        />
        <div class="downloadbutton container w3-animate-bottom">
          <a
            class="btn btn-outline-primary"
            [ngClass]="{ 'btn-hover': isHovered }"
            (mouseover)="isHovered = true"
            (mouseout)="isHovered = false"
            class="pdfdownload-en"
            href="/assets/pdf/Curriculo-EN.pdf"
            download="Curriculum-LuisNunesEN.pdf"
          >
            Download EN
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
