<div class="aboutme">
  <div class="aboutme-content">
    <div class="container w3-animate-bottom">
      <section class="main">
        <!-- Image of me -->
        <img
          class="icon-content"
          src="/assets/img/Me-icon.ico"
          alt="Lyz-foto"
        />
        <!-- About me -->
        <div class="about-text">
          <h2>{{ "aboutpage.aboutme" | translate }}</h2>
          <h5>{{ "aboutpage.h5" | translate }} <span>{{ "aboutpage.span" | translate }}</span></h5>
          <div>
            <p>
              {{ "aboutpage.about" | translate }}
            </p>
            <!-- Button to show my knowledges -->
            <button
              class="btn btn-outline-primary"
              class="buttonknowledge"
              (click)="showKnowledges()"
              [ngClass]="{ 'btn-hover': isHovered }"
              [disabled]="disabledBtn"
              (mouseover)="isHovered = true"
              (mouseout)="isHovered = false"
            >
            {{ "aboutpage.skills" | translate }}
            </button>
            <!-- Skill -->
            <span *ngIf="skills" class="conledge">
              HTML, CSS, JavaScript, TypeScript, C#, Angular, SQL, Bootstrap, ASP.NET, Git, GitHub.</span
            >
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
