<div class="aboutme">
  <div class="aboutme-content">
    <div class="container w3-animate-bottom">
      <section class="main">
        <!-- Image of me -->
        <img
          class="icon-content"
          src="../../../assets/Me-icon.ico"
          alt="Lyz-foto"
        />
        <!-- About me -->
        <div class="about-text">
          <h2>About Me</h2>
          <h5>Developer <span>Fullstack</span></h5>
          <div>
            <p>
              My name is Luis Henrique Nunes Alves and I'm 20 years old, I study
              systems analysis and development at Centro Universitário das
              Faculdades Metropolitanas Unidas(FMU), I'm a Full-stack developer
              and always looking to contribute in some way to the community and
              learn together , I am looking for an opportunity to acquire more
              knowledge in the field and improve my skills.
            </p>
            <!-- Button to show my knowledges -->
            <button
              class="btn btn-outline-primary"
              class="buttonknowledge"
              (click)="showKnowledges()"
              [ngClass]="{ 'btn-hover': isHovered }"
              [disabled]="disabledBtn"
              (mouseover)="isHovered = true"
              (mouseout)="isHovered = false"
            >
              Skills
            </button>
            <!-- Skill -->
            <span *ngIf="skills" class="conledge">
              HTML, CSS, JavaScript, TypeScript, Angular, SQL, Git, GitHub,
              Bootstrap.</span
            >
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
