.global {
  display: grid;
  grid-template-rows: 69px 1fr 122px;
  min-height: 100vh;
  background-color: #191919;
}
.navbar {
  gap: 13px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 900;
}
.navbar-nav {
  gap: 15px;
}
.navbar-brand {
  font-family: "Luminari";
  font-size: 30px;
}
.nav-item {
  font-size: 20px;
}
.contact {
  display: flex;
  padding: 0;
}
.contact-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.contact-icons img {
  width: 45px;
  justify-content: end;
}
.contact-links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 20px;
}
.instituicoes-link {
  display: flex;
  justify-content: center;
}
.site-footer {
  width: 100%;
  background-color: #343a40;
  color: #fff;
  text-align: center;
  padding: 40px;
  z-index: 1000;
}
.footer-text {
  font-size: 25px;
  font-family: "Lato";
}
.switch {
  position: relative;
  width: 90px;
  display: inline-flex;
  margin: 0 5px;
}
.switch > span {
  position: absolute;
  top: 10px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}
input.check-toggle-round-flat:checked ~ .off {
  color: #a219f1;
}
input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}
.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #a219f1;
}
.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}
.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #a219f1;
  border-radius: 60px;
  margin: 0;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #a219f1;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 40px;
  background-color: #fff;
  border-radius: 52px;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 41px;
}