<div class="global">
  <header>
    <!-- Container/NavBar/Button -->
    <nav class="container" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand header-logo" href="">Lyz</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#conteudoNavbarSuportado"
        aria-controls="conteudoNavbarSuportado"
        aria-expanded="false"
        aria-label="Alterna navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav mr-auto">
          <!-- Menu Home -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/home"
              >{{ "allpage.home" | translate }}<span class="sr-only">(página atual)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/aboutme" href="">{{ "allpage.about" | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/instituicoes" href=""
              >{{ "allpage.institutions" | translate }}</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/curriculum" href="">{{ "allpage.curriculum" | translate }}</a>
          </li>
          <!-- Menu Contact me -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/projects" href="">{{ "allpage.projects" | translate }}</a>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
            {{ "allpage.contactme" | translate }}
            </a>
            <!-- MenuIcons-ContactMe -->
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="contact">
                <div class="contact-icons">
                  <img src="../assets/githubicon.svg" alt="githubicon" />
                  <img src="../assets/phoneicon.svg" alt="phoneicon" />
                  <img src="../assets/linkedinicon.svg" alt="linkedinicon" />
                </div>
                <!-- MenuLinks-ContactMe -->
                <div class="contact-links">
                  <a
                    class="dropdown-item"
                    href="https://github.com/Lyzhz"
                    target="_blank"
                    >Github</a
                  >
                  <a
                    class="dropdown-item"
                    href="https://api.whatsapp.com/send?phone=5511989729095"
                    target="_blank"
                    >{{ "allpage.phone" | translate }}</a
                  >
                  <a
                    class="dropdown-item"
                    href="https://www.linkedin.com/in/lyzhz"
                    target="_blank"
                    >Linkedin</a
                  >
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="switch">
        <input
          [(ngModel)]="lang"
          (click)="switchLang()"
          id="language-toggle"
          class="check-toggle check-toggle-round-flat"
          type="checkbox"
        />
        <label for="language-toggle"></label>
        <span class="on">PT-BR</span>
        <span class="off">EN</span>
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="site-footer">
    <p class="footer-text">{{ "allpage.footer" | translate }}</p>
  </footer>
</div>
