        <!-- Presentation -->
    <div id="main" class="sessao-apresentacao">
            <div class="sessao-apresentacao-nome">
                <div class="container">
                    <div class="main w3-container w3-center w3-animate-top">
                        <!-- Apresentation: Title and Subtitle -->
                        <div class="nome">
                            <p class="nome-title">Hi, My name is Luis</p>
                            <p class="nome-subtitle">Developer FullStack</p>
                        </div>
                    </div>
                </div>
                <!-- Apresentation:Image -->
            <div class="sessao-apresentacao-corpo">
                <div class="container">
                    <div class="corpo-content w3-container w3-center w3-animate-bottom">
                        <img src="../../../assets/developer-amico.svg" alt="content">
                    </div>
                </div>
            </div>
        </div>
    </div>