@keyframes fade-inout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sessao-apresentacao-nome {
  animation: fade-inout 1s;
  font-size: 5em;
  text-align: center;
}

.sessao-apresentacao {
  background: linear-gradient(180deg, #a219f1 0%, #edeffa 100%);
  align-items: center;
  min-height: 79.9vh;
  max-width: 100%;
}

.nome {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.nome-title {
  display: flex;
  justify-content: center;
  font-family: "Georgia";
  font-size: 40px;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 0;
  color: white;
}

.nome-subtitle {
  display: flex;
  justify-content: center;
  font-family: "Georgia";
  font-size: 30px;
  margin: 0;
  color: white;
}

.corpo-content {
  display: flex;
  width: 100%;
  max-width: 500px;
  margin: inherit;
}

.sessao-apresentacao {
  overflow-x: auto;
}

@media screen and (min-width: 1200px) {
  .sessao-apresentacao {
    max-height: 736px;
  }
  .main.corpo-content {
    width: 100%;
    max-width: 1200px;
  }
  .nome-title {
    font-size: 50px;
  }
  .nome-subtitle {
    font-size: 35px;
  }
}

@media screen and (min-width: 576px) {
  .nome {
    align-items: center;
  }
}