<div class="global">
  <div class="container w3-animate-top">
    <h5>{{ "projectspage.title" | translate }}</h5>
  </div>
  <div class="projects">
    <div class="box">
      <!-- Card Project 1 - Pokedex -->
      <div class="card-projects1 container w3-animate-left">
        <img
          class="icon-pokemon"
          src="/assets/img/pngwing.com.png"
          alt="Pokemon"
        />
        <div class="card-name">
          <h2>Pokédex</h2>
        </div>
        <div class="icon">
          <div class="cardimage">
            <img class="Pokedex" src="/assets/img/Pokedex.png" alt="Pokedex" />
            <!-- Card Description And Button -->
            <div class="description" style="text-align: center">
              <p>
                {{ "projectspage.poketitle" | translate }}
              </p>
              <i>{{ "projectspage.pokesub" | translate }}</i>
              <a
                class="btn btn-outline-primary"
                class="button"
                target="_blank"
                class="buttonpoke"
                href="https://lyzhz.github.io/Pokedex/"
                >Site</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <!-- Card Project 2 - CRUD -->
      <div class="card-projects2 container w3-animate-right">
        <a class="card-name2" style="color: white"
          ><h2>{{ "projectspage.crudname" | translate }}</h2></a
        >
        <div class="image2">
          <img class="CRUD" src="/assets/img/SimpleCRUD.png" />
          <!-- Card Description And Button -->
          <div class="description" style="text-align: center">
            <p>
              {{ "projectspage.crudtitle" | translate }}
            </p>
            <i>{{ "projectspage.crudsub" | translate }}</i>
            <a
              class="btn btn-outline-primary"
              class="button"
              target="_blank"
              class="buttoncrud"
              href="https://github.com/Lyzhz/Simple-CRUD"
              >Site</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
