<div class="global ">
  <div class="container w3-animate-top">
  <h5>{{ "projectspage.title" | translate }}</h5>
  </div>
  <div class="projects">
    <div class="box">
      <!-- Card Project 1 - Pokedex -->
      <div class="card-projects1 container w3-animate-left">
        <img
          class="icon-pokemon"
          src="../../../assets/pngwing.com.png"
          alt="Pokemon"
        />
        <div class="card-name">
          <h2>Pokédex</h2>
        </div>
        <div class="icon">
          <div class="cardimage">
            <img
              class="Pokedex"
              src="../../../assets/Pokedex.png"
              alt="Pokedex"
            />
            <!-- Card Description And Button -->
            <div class="description" style="text-align: center">
              <p>
                {{ "projectspage.poketitle" | translate }}
              </p>
              <i>{{ "projectspage.pokesub" | translate }}</i>
              <a
                class="btn btn-outline-primary"
                class="buttonknowledge"
                [ngClass]="{ 'btn-hover': isHovered }"
                (mouseover)="isHovered = true"
                (mouseout)="isHovered = false"
                class="button"
                target="_blank"
                class="buttonpoke"
                href="https://lyzhz.github.io/Pokedex/"
                >Site</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <!-- Card Project 2 - Coming Soon -->
      <div class="card-projects2 container w3-animate-right">
        <a class="coming-soon" style="color: white">{{ "projectspage.comingsoon" | translate }}</a>
      </div>
    </div>
  </div>
</div>
